/*=============================
**	MAIN TODO
**===========================*/
/*=============================
**	SASS VARIABLES
**===========================*/
/*	COLORS 	*/
/*	TYPE 	*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*=============================
**	BASE STYLES / MIXIN
**===========================*/
.boxShadow, .btn:hover, .btn:active, .btn:focus, a.media img, .media--ContainerWidth img, .media--FullWidth img, .projectImgs, .projectSpotlight, #footer {
  box-shadow: 0 0 0.5em 0.1em rgba(29, 111, 125, 0.25);
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.boxShadow:hover, .btn:hover, a.media img:hover, .media--ContainerWidth img:hover, .media--FullWidth img:hover, .projectImgs:hover, .projectSpotlight:hover, #footer:hover, .boxShadow:active, .btn:active, a.media img:active, .media--ContainerWidth img:active, .media--FullWidth img:active, .projectImgs:active, .projectSpotlight:active, #footer:active, .boxShadow:focus, .btn:focus, a.media img:focus, .media--ContainerWidth img:focus, .media--FullWidth img:focus, .projectImgs:focus, .projectSpotlight:focus, #footer:focus {
  box-shadow: 0 0em 0.5em 0.1em rgba(29, 111, 125, 0.5);
}

/*=============================
**	IMPORTS
**===========================*/
.grid {
  width: 100%;
}

.clearfix::after, .grid::after {
  content: ' ';
  display: table;
  clear: both;
}

[class^="col-"] {
  float: left;
  padding: 0em 1em;
  margin: 0;
  overflow: hidden;
}

@media screen and (max-width: 47em) {
  [class^="col-"] {
    width: 100% !important;
    padding: 0;
  }
}

.col-25 {
  width: 25%;
}

.col-33 {
  width: 33%;
}

.col-50 {
  width: 50%;
}

@media screen and (max-width: 64em) {
  .col-50.projectDesc {
    width: 66%;
  }
}

.col-66 {
  width: 66%;
}

.col-100 {
  width: 100%;
}

.row-100 {
  height: 100vh;
}

.row-50 {
  height: 50vh;
}

.btn {
  display: inline-block;
  margin: 1em auto;
  height: 2em;
  padding: 0;
  background: #29bdb9;
  box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.25);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.btn a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0.5em 1.5em;
  line-height: 1em;
  color: white;
  text-decoration: none;
}

.btn:hover, .btn:active, .btn:focus {
  color: white;
  background: #209390;
  -webkit-transform: translateY(-0.05em);
      -ms-transform: translateY(-0.05em);
          transform: translateY(-0.05em);
}

.tag, .tag--project {
  display: inline-block;
  position: relative;
  line-height: 1em;
  padding: 0.5em 0.5em;
  margin: 0em 1em 0em 0em;
  color: white;
  vertical-align: center;
  z-index: 10;
  letter-spacing: 0.1em;
}

.tag svg, .tag--project svg {
  display: inline-block;
  height: 1em;
  width: auto;
  fill: white;
  stroke: white;
  padding-right: 0.5em;
  vertical-align: middle;
}

.tag span, .tag--project span {
  display: inline;
  vertical-align: middle;
}

@media screen and (min-width: 64em) {
  .tag, .tag--project {
    font-size: 1.25em;
  }
  .tag svg, .tag--project svg {
    height: 1.5em;
  }
}

.tag--project {
  margin: 0.5em 2em 0em 0em;
}

#goBack {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 6em;
  line-height: 1em;
  color: white;
  padding: 0.5em;
  margin-top: 1em;
  z-index: 15;
}

#goBack a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: white;
}

#goBack::after {
  border-top: 0.5em solid transparent !important;
  border-bottom: 0.5em solid transparent !important;
  border-right: 0.5em solid white !important;
  top: 0;
  left: 1em;
  margin: 0.5em 1em 0.5em 2em;
  z-index: 10;
}

.rightArrow {
  position: absolute;
  content: ' ';
  right: -1em;
  top: 0;
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-left: 1em solid #1d6f7d;
  z-index: 15;
}

.leftArrow, #goBack::after {
  position: absolute;
  content: ' ';
  left: -1em;
  top: 0;
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-right: 1em solid #1d6f7d;
  z-index: 15;
}

.upArrow {
  position: absolute;
  content: ' ';
  top: -1em;
  top: 0;
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 1em solid #1d6f7d;
  z-index: 15;
}

.downArrow {
  position: absolute;
  content: ' ';
  bottom: -1em;
  top: 0;
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-top: 1em solid #1d6f7d;
  z-index: 15;
}

code {
  background-color: #DDD;
  padding: 0.75em 1em;
  display: block;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 30%;
  min-width: 30vw;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  width: 100%;
}

@media screen and (min-width: 64em) {
  .videoWrapper {
    margin-bottom: 1em;
  }
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a.media, .media--ContainerWidth, .media--FullWidth {
  position: relative;
  display: block;
  margin: 0.25em 0;
}

a.media img, .media--ContainerWidth img, .media--FullWidth img {
  width: 100%;
  height: auto;
}

.media--ContainerWidth {
  overflow: visible;
}

@media screen and (min-width: 64em) {
  .media--FullWidth {
    position: relative;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
    height: 50vh;
    overflow: hidden;
  }
  .media--FullWidth div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 1;
    background: url("../assets/vanguard/home-small.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 50vh;
  }
}

@media screen and (min-width: 64em) and (min-width: 480px) and (max-width: 959px) {
  .media--FullWidth div {
    background: url("../assets/vanguard/home-medium.jpg");
    background-size: cover;
    background-position: center center;
  }
}

@media screen and (min-width: 64em) and (min-width: 960px) {
  .media--FullWidth div {
    background: url("../assets/vanguard/home-large.jpg");
    background-size: cover;
    background-position: center center;
  }
}

@media screen and (min-width: 64em) {
  .media--FullWidth div::after {
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 5;
  }
  .media--FullWidth div::after {
    background: none;
  }
}

.gallery {
  position: relative;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
}

@media screen and (min-width: 64em) {
  .gallery {
    position: relative;
    width: 80vw;
    left: 50%;
    margin-left: -40vw;
  }
}

figure {
  margin: 1em 0;
}

@media screen and (min-width: 64em) {
  figure {
    margin: 0.5em 0;
  }
}

figcaption {
  font-family: "Vollkhorn", serif;
  font-style: italic;
  padding: 0 0.25em;
  margin-top: 0.25em;
}

/*=============================
**	GENERAL STYLES
**===========================*/
.section {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background: #fffee1;
}

.contentContainer {
  position: relative;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  z-index: 10;
}

@media screen and (min-width: 64em) {
  .contentContainer {
    width: 80vw;
  }
}

/*=============================
**	HOMEPAGE
**===========================*/
#page1 .pageBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 1;
  background: url("../assets/ethos/ethos-small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 480px) and (max-width: 959px) {
  #page1 .pageBackground {
    background: url("../assets/ethos/ethos-medium.jpg");
    background-size: cover;
    background-position: center center;
  }
}

@media screen and (min-width: 960px) {
  #page1 .pageBackground {
    background: url("../assets/ethos/ethos-large.jpg");
    background-size: cover;
    background-position: center center;
  }
}

#page1 .pageBackground::after {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 5;
}

#page2 .pageBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 1;
  background: url("../assets/ethos/wires-small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 480px) and (max-width: 959px) {
  #page2 .pageBackground {
    background: url("../assets/ethos/wires-medium.jpg");
    background-size: cover;
    background-position: center center;
  }
}

@media screen and (min-width: 960px) {
  #page2 .pageBackground {
    background: url("../assets/ethos/wires-large.jpg");
    background-size: cover;
    background-position: center center;
  }
}

#page2 .pageBackground::after {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 5;
}

#page2 .subtitle {
  margin-top: -0.25em;
}

@media screen and (min-width: 64em) {
  #page2 .subtitle {
    margin-top: -0.75em;
  }
}

#page2 p {
  color: white;
  padding: 0 1em;
  text-align: justify;
}

@media screen and (min-width: 64em) {
  #page2 p {
    font-size: 1.25em;
    line-height: 1.5em;
    max-width: 40em;
    margin: 0 auto;
  }
}

#page3 .projectImgs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 1;
  background: url("../assets/ptsd-assist/poster-small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 480px) and (max-width: 959px) {
  #page3 .projectImgs {
    background: url("../assets/ptsd-assist/poster-medium.jpg");
    background-size: cover;
    background-position: center center;
  }
}

@media screen and (min-width: 960px) {
  #page3 .projectImgs {
    background: url("../assets/ptsd-assist/poster-large.jpg");
    background-size: cover;
    background-position: center center;
  }
}

#page3 .projectImgs::after {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 5;
}

#page4 .projectImgs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 1;
  background: url("../assets/vanguard/explore-small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 480px) and (max-width: 959px) {
  #page4 .projectImgs {
    background: url("../assets/vanguard/explore-medium.jpg");
    background-size: cover;
    background-position: center center;
  }
}

@media screen and (min-width: 960px) {
  #page4 .projectImgs {
    background: url("../assets/vanguard/explore-large.jpg");
    background-size: cover;
    background-position: center center;
  }
}

#page4 .projectImgs::after {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 5;
}

.moreArrow {
  margin-top: 1em;
  display: block;
  position: absolute;
  bottom: 0.5em;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  z-index: 20;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25em;
  -webkit-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
}

.moreArrow svg {
  display: block;
  width: 2em;
  height: 1.5em;
  margin: 0.5em auto;
}

.moreArrow a {
  text-decoration: none;
  color: white;
  height: 100%;
  width: 100%;
}

.projectImgs {
  z-index: 1;
}

.projectDesc {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  background: transparent;
  padding: 0;
}

.projectDesc .descContainer {
  width: 100%;
  height: 17em;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2em;
  text-align: center;
  padding: 0;
}

@media screen and (min-width: 64em) {
  .projectDesc .descContainer {
    width: 100%;
    height: 29em;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2em;
    text-align: center;
  }
}

/*=============================
**	PROJECT PAGES
**===========================*/
.projectSpotlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 1;
  background: url("../assets/vanguard/mock-small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 480px) and (max-width: 959px) {
  .projectSpotlight {
    background: url("../assets/vanguard/mock-medium.jpg");
    background-size: cover;
    background-position: center center;
  }
}

@media screen and (min-width: 960px) {
  .projectSpotlight {
    background: url("../assets/vanguard/mock-large.jpg");
    background-size: cover;
    background-position: center center;
  }
}

.projectSpotlight::after {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 5;
}

.projectSpotlight .contentContainer {
  width: 100vw;
  height: 14em;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2em;
  text-align: center;
  display: inline-block;
  padding: 0;
}

@media screen and (min-width: 64em) {
  .projectSpotlight .contentContainer {
    width: 80vw;
    height: 33em;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2em;
    text-align: center;
  }
}

#projectContent {
  width: 100vw;
  margin: 0 auto;
  padding: 0.1em 1em;
  background: white;
  z-index: 5;
  text-align: center;
}

#projectContent h1,
#projectContent h2,
#projectContent h3,
#projectContent p {
  margin: 1em auto;
  text-align: left;
}

#projectContent h2 {
  margin: 2em auto 1em auto;
}

#projectContent h2:first-of-type {
  margin: 1em auto;
}

@media screen and (min-width: 64em) {
  #projectContent {
    max-width: 50em;
  }
}

#projectDetails {
  text-align: left;
}

#projectDetails span {
  font-weight: 700;
  color: #1d6f7d;
}

@media screen and (min-width: 64em) {
  #projectDetails {
    float: right;
    margin: 1em 0em 0 1em;
    padding: 0.5em 1.5em 0.5em 1em;
  }
  #projectDetails h3 {
    margin: 0.5em 0;
  }
  #projectDetails ul {
    margin: 0.25em 0;
  }
}

#footer {
  position: relative;
  padding: 1em;
  background: #1d6f7d;
  text-align: center;
  color: white;
  overflow: hidden;
  /*h2 {
		color: $c1;
//		font-size: 2.5em;
		margin: 0.5em 0;
		line-height: 1.5em;
	}*/
}

#footer *, #footer *:after, #footer *:before {
  position: relative;
  z-index: 5;
}

#footer #background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 1;
  background: url("../assets/ptsd-assist/poster-small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  z-index: 1;
}

@media screen and (min-width: 480px) and (max-width: 959px) {
  #footer #background {
    background: url("../assets/ptsd-assist/poster-medium.jpg");
    background-size: cover;
    background-position: center center;
  }
}

@media screen and (min-width: 960px) {
  #footer #background {
    background: url("../assets/ptsd-assist/poster-large.jpg");
    background-size: cover;
    background-position: center center;
  }
}

#footer #background::after {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 5;
}

.lightbox {
  cursor: pointer;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  /* IE Fallback (Solid Colour) */
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAIElEQVQ4T2NkYGDYDMRkA8ZRAxhGw4BhNAyA+WAYpAMAIFgLQfO9BoEAAAAASUVORK5CYII=);
  background: rgba(0, 0, 0, 0.7);
  -webkit-filter: none !important;
  z-index: 9997;
}

.lightbox img {
  display: block;
  position: absolute;
  box-shadow: 0 0 20px #000;
  border-radius: 1px;
}

body.blurred > * {
  -webkit-filter: blur(2px);
  -webkit-transform: translate3d(0, 0, 0);
}

.lightbox__loading {
  background: url(../assets/lightbox/loading.gif) center center no-repeat;
  width: 32px;
  height: 32px;
  margin: -16px 0 0 -16px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.lightbox__caption {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 9998;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
}

.lightbox__caption p {
  margin: 0 auto;
  max-width: 70%;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 10px;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
}

.lightbox__button {
  position: absolute;
  z-index: 9999;
  background: no-repeat center center;
  width: 32px;
  height: 32px;
  opacity: 0.4;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.lightbox__button:hover,
.lightbox__button:focus {
  opacity: 1;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}

.lightbox__close {
  right: 10px;
  top: 10px;
  background-image: url("../assets/lightbox/close.png");
}

.lightbox__nav {
  top: 50%;
  margin-top: -16px;
}

.lightbox__nav--next {
  right: 10px;
  background-image: url("../assets/lightbox/next.png");
}

.lightbox__nav--prev {
  left: 10px;
  background-image: url("../assets/lightbox/previous.png");
}

.title {
  font-family: "Merriweather", serif;
  font-size: 3em;
  font-variant: normal;
  letter-spacing: 0.05em;
  line-height: 1em;
  font-weight: 700;
  color: white;
  margin: 0.125em 0;
}

@media screen and (min-width: 47em) {
  .title {
    font-size: 7em;
  }
}

.projectSpotlight .title {
  font-size: 3em;
}

@media screen and (min-width: 47em) and (max-width: 63em) {
  .projectSpotlight .title {
    font-size: 7em;
  }
}

@media screen and (min-width: 64em) {
  .projectSpotlight .title {
    font-size: 10em;
  }
}

.subtitle {
  font-size: 1.4em;
  line-height: 1.5em;
  color: #f47421;
  margin: 0.125em 0;
}

@media screen and (min-width: 64em) {
  .subtitle {
    font-size: 2em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1em;
}

h1 {
  color: #f47421;
  font-size: 4em;
}

h2 {
  font-size: 1.5em;
  color: #a14014;
}

h3 {
  font-variant: normal;
  font-size: 1.25em;
}

ul {
  list-style-type: square;
  padding-left: 1em;
}

ol {
  counter-reset: item;
  margin-left: 0;
}

ol > li {
  margin: 0 0 0.2em 0;
  text-indent: -1em;
  list-style-type: none;
  counter-increment: item;
}

ol li:before {
  content: counter(item, upper-alpha) ")";
  margin-right: 5px;
  font-weight: bold;
}

p {
  line-height: 1.5em;
  letter-spacing: 0.05em;
}

/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/
body,
html {
  font-family: "Quattrocento Sans", sans-serif;
  line-height: 1.2em;
  padding: 0em;
  background: white;
  overflow-x: hidden;
}

/*# sourceMappingURL=main.css.map */