/*=============================
**	MAIN TODO
**===========================*/
/*=============================
**	SASS VARIABLES
**===========================*/
/*	COLORS 	*/
/*	TYPE 	*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*=============================
**	IMPORTS
**===========================*/
.grid {
  width: 100%;
}

.clearfix::after, .grid::after {
  content: ' ';
  display: table;
  clear: both;
}

[class^="col"] {
  float: left;
  padding: 0em 1em;
  margin: 0;
  overflow: hidden;
}

.col-25 {
  width: 25%;
}

.col-33 {
  width: 33%;
}

.col-50 {
  width: 50%;
}

.col-66 {
  width: 66%;
}

.col-100 {
  width: 100%;
}

.row-100 {
  height: 100vh;
}

.row-50 {
  height: 50vh;
}

.btn {
  display: inline-block;
  margin: 0.5em auto;
  padding: 0.5em 1.5em;
  background: #29bdb9;
  box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.125);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.btn a {
  height: 100%;
  width: 100%;
  line-height: 1em;
  color: white;
  text-decoration: none;
}

.btn:hover, .btn:active, .btn:focus {
  color: white;
  background: #209390;
  box-shadow: 0.15em 0.15em 0.2em rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(-0.05em);
      -ms-transform: translateY(-0.05em);
          transform: translateY(-0.05em);
}

.tag, .tag--project {
  display: inline-block;
  position: relative;
  line-height: 1em;
  padding: 0.5em 1em;
  margin: 1em 2em 0em 0em;
  background: #1d6f7d;
  color: #fffee1;
  z-index: 10;
}

.tag--project {
  margin: 0.5em 2em 0em 0em;
}

#goBack {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 6em;
  line-height: 1em;
  color: white;
  padding: 0.5em;
  margin-top: 1em;
  z-index: 15;
}

#goBack a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: white;
}

#goBack::after {
  border-top: 0.5em solid transparent !important;
  border-bottom: 0.5em solid transparent !important;
  border-right: 0.5em solid white !important;
  top: 0;
  left: 1em;
  margin: 0.5em 1em 0.5em 2em;
  z-index: 10;
}

.rightArrow, .tag::after, .tag--project::after {
  position: absolute;
  content: ' ';
  right: -1em;
  top: 0;
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-left: 1em solid #1d6f7d;
  z-index: 15;
}

.leftArrow, #goBack::after {
  position: absolute;
  content: ' ';
  left: -1em;
  top: 0;
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-right: 1em solid #1d6f7d;
  z-index: 15;
}

.upArrow {
  position: absolute;
  content: ' ';
  top: -1em;
  top: 0;
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 1em solid #1d6f7d;
  z-index: 15;
}

.downArrow {
  position: absolute;
  content: ' ';
  bottom: -1em;
  top: 0;
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-top: 1em solid #1d6f7d;
  z-index: 15;
}

.videoWrapper, .videoWrapper--Project {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  width: 100%;
}

.videoWrapper iframe, .videoWrapper--Project iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoWrapper--Project {
  padding-bottom: 41%;
}

.projectMedia, .videoWrapper--Project, .projectImage {
  float: right;
  position: relative;
  width: 40vw;
  margin: 1em -10vw 1em 1em;
}

.boxShadow, .projectImgs, .projectSpotlight {
  box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.25);
}

.section {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background: #fffee1;
}

.contentContainer {
  position: relative;
  margin: 0 auto;
  padding: 1em;
  width: 80vw;
  z-index: 10;
}

/*=============================
**	HOMEPAGE
**===========================*/
.text--intro {
  font-size: 3em;
  line-height: 1.2em;
  color: white;
}

.text--intro .title {
  font-size: 1.25em;
}

.pageBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.pageBackground::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
  z-index: 5;
}

#page1 .pageBackground {
  background: url(../assets/placeholder-images/Tessellation-R_Desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.moreArrow {
  display: inline-block;
  position: absolute;
  bottom: -3em;
  left: 40vw;
  width: 20vw;
  margin: 0 auto;
  text-align: center;
  color: white;
  z-index: 20;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  -webkit-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
}

.moreArrow .downArrow {
  content: ' ';
  width: 0;
  height: 0;
  margin: 0.5em auto;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-top: 1em solid white;
  z-index: 15;
}

.projectImgs {
  position: relative;
  padding: 0 !important;
  background: #fffee1;
  z-index: 1;
}

.projectImgs .col-50, .projectImgs .col-100 {
  padding: 0 !important;
  position: relative;
}

.projectImgs img {
  height: 100vh;
  width: 50vw;
  object-fit: cover;
  object-position: center center;
}

#page2 img {
  object-position: left center;
}

#page3 img {
  object-position: -12vw center;
}

.projectDesc {
  position: relative;
}

.projectDesc .descContainer {
  width: 80%;
  height: 80%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2em;
}

/*=============================
**	PROJECT PAGES
**===========================*/
.projectSpotlight {
  position: relative;
  height: 100vh;
  width: 100vw;
  line-height: 0;
  font-size: 1;
  z-index: 1;
}

.projectSpotlight #bannerImage {
  position: absolute;
  width: 100%;
  height: 100%;
}

.projectSpotlight #bannerImage::after {
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  height: 100vh;
  width: 100vw;
  background: -webkit-linear-gradient(transparent, transparent, transparent, rgba(0, 0, 0, 0.95));
  background: linear-gradient(transparent, transparent, transparent, rgba(0, 0, 0, 0.95));
  z-index: 5;
}

.projectSpotlight img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  z-index: 1;
}

.projectSpotlight .contentContainer {
  position: absolute;
  bottom: 0em;
  width: 60vw;
  margin: 0 20vw;
  padding: 2em 0 0 0;
  background: #fffee1;
  z-index: 10;
}

.projectSpotlight h1 {
  color: white;
  margin-bottom: 0.4em;
}

.projectSpotlight h2 {
  padding: 0 0 0.25em 0;
  margin: 0;
  color: #f47421;
}

#projectContent {
  position: relative;
  width: 60vw;
  margin: -12em auto 0 auto;
  padding: 0.1em 1em;
  background: #fffee1;
  z-index: 5;
}

/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/
body, html {
  font-family: "Quattrocento Sans", sans-serif;
  line-height: 1.2em;
  padding: 0em;
  background: #fffee1;
  overflow-x: hidden;
}

code {
  background-color: #DDD;
  padding: 0.75em 1em;
  display: block;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 30%;
  min-width: 30vw;
}

/*=============================
**	TEXT STYLING
**===========================*/
.title {
  font-family: "Vollkhorn", serif;
  font-size: 3em;
  font-variant: normal;
  letter-spacing: 1px;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-variant: small-caps;
  font-weight: 400;
}

h1 {
  color: #f47421;
  font-size: 4em;
}

h2 {
  font-size: 1.5em;
  color: #a14014;
}

h3 {
  font-variant: normal;
}

ul {
  list-style-type: square;
  padding-left: 1em;
}

ol {
  counter-reset: item;
  margin-left: 0;
}

ol > li {
  margin: 0 0 0.2em 0;
  text-indent: -1em;
  list-style-type: none;
  counter-increment: item;
}

ol li:before {
  content: counter(item, upper-alpha) ")";
  margin-right: 5px;
  font-weight: bold;
}
