//Button-like things

.btn {
	display: inline-block;
//	width: 10em;
	margin: 1em auto;
	height: 2em;
	padding: 0;
	background: $c2;
	box-shadow: 0.1em 0.1em 0.2em $shadow;
	font-family: $header-font;
	font-weight: 700;
	text-align: center;
	transition: all 0.2s ease-in-out;
	a {
		display: block;
		height: 100%;
		width: 100%;
		padding: 0.5em 1.5em;
		line-height: 1em;
		color: white;
		text-decoration: none;
	}
}

.btn:hover, .btn:active, .btn:focus {
	color: white;
	background: darken($c2, 10%);
	@extend .boxShadow;
	transform: translateY(-0.05em);
}

//TODO: Consider restyling the tags?

.tag {
	display: inline-block;
	position: relative;
	line-height: 1em;
	padding: 0.5em 0.5em;
	margin: 0em 1em 0em 0em;
	color: white;
	vertical-align: center;
	z-index: 10;
	font-variant: small-caps;
	letter-spacing: 0.1em;

	svg {
		display: inline-block;
		height: 1em;
		width: auto;
		fill: white;
		stroke: white;
		padding-right: 0.5em;
		vertical-align: middle;
	}

	span {
		display: inline;
		vertical-align: middle;
	}
	
	@media screen and (min-width: $desktop) {
		font-size: 1.25em;
		
		svg {
			height: 1.5em;
		}
	}
}

.tag--project {
	@extend .tag;
	margin: 0.5em 2em 0em 0em;
}

#goBack {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
//	margin: 1em;
//	padding: 1em;
	text-align: center;
	width: 6em;
	line-height: 1em;
	color: white;
	padding: 0.5em;
	margin-top: 1em;
	z-index: 15;

	a {
		height: 100%;
		width: 100%;
		text-decoration: none;
		color: white;
	}

	&::after {
		@extend .leftArrow;
		border-top: 0.5em solid transparent !important;
		border-bottom: 0.5em solid transparent !important;
		border-right: 0.5em solid white !important;
		top: 0;
		left: 1em;
		margin: 0.5em 1em 0.5em 2em;
		z-index: 10;
	}
}

//Arrows
$ar-dim:	1em;
$ar-col:	$c2d;
.rightArrow {
	position: absolute;
	content: ' ';
	right: -$ar-dim;
	top: 0;
	width: 0;
	height: 0;
	border-top: $ar-dim solid transparent;
	border-bottom: $ar-dim solid transparent;
	border-left: $ar-dim solid $ar-col;
	z-index: 15;
}

.leftArrow {
	position: absolute;
	content: ' ';
	left: -$ar-dim;
	top: 0;
	width: 0;
	height: 0;
	border-top: $ar-dim solid transparent;
	border-bottom: $ar-dim solid transparent;
	border-right: $ar-dim solid $ar-col;
	z-index: 15;
}

.upArrow {
	position: absolute;
	content: ' ';
	top: -$ar-dim;
	top: 0;
	width: 0;
	height: 0;
	border-left: $ar-dim solid transparent;
	border-right: $ar-dim solid transparent;
	border-bottom: $ar-dim solid $ar-col;
	z-index: 15;
}

.downArrow {
	position: absolute;
	content: ' ';
	bottom: -$ar-dim;
	top: 0;
	width: 0;
	height: 0;
	border-left: $ar-dim solid transparent;
	border-right: $ar-dim solid transparent;
	border-top: $ar-dim solid $ar-col;
	z-index: 15;
}

code {
	background-color: #DDD;
	padding: .75em 1em;
	display: block;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
	width: 30%;
	min-width: 30vw;
}
