/*=============================
**	GENERAL STYLES
**===========================*/

.section {
	position: relative;
	width: 100vw;
	min-height: 100vh;
	overflow: hidden;
	background: $c3;
}

.contentContainer {
	position: relative;
	margin: 0 auto;
	padding: 1em;
	text-align: center;
	z-index: 10;
	
	@media screen and (min-width: $desktop) {
		width: 80vw;
	}
}


/*=============================
**	HOMEPAGE
**===========================*/

#page1 .pageBackground {
	@include heroImage("../assets/ethos/ethos");
}

#page2 {
	.pageBackground {
		@include heroImage("../assets/ethos/wires");
	}
	
	.subtitle {
		margin-top: -0.25em;
		
		@media screen and (min-width: $desktop) {
			margin-top: -0.75em;
		}
	}
	
	p {
		color: white;
		padding: 0 1em;
		text-align: justify;

		@media screen and (min-width: $desktop) {
			font-size: 1.25em;
			line-height: 1.5em;
			max-width: 40em;
			margin: 0 auto;
		}
	}
}

#page3 .projectImgs {
	@include heroImage("../assets/ptsd-assist/poster");
}

#page4 .projectImgs {
	@include heroImage("../assets/vanguard/explore");
}

.moreArrow {
	margin-top: 1em;
	display: block;
	position: absolute;
	bottom: 0.5em;
	left: 0;
	right: 0;
	text-align: center;
	color: white;
	z-index: 20;
	font-family: $header-font;
	font-size: 1.25em;
	transition: all 1s ease-in-out;
	
	svg {
		display: block;
		width: 2em;
		height: 1.5em;
		margin: 0.5em auto;
	}
	
	a {
		text-decoration: none;
		color: white;
		height: 100%;
		width: 100%;
	}
}

//Project Slides
.projectImgs {
	@extend .boxShadow;
	z-index: 1;
}

.projectDesc {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	background: $transparent;
	padding: 0;
	
	.descContainer {
		@include vertCentered(17em, 100%, center);
		padding: 0;
		
		@media screen and (min-width: $desktop) {
			@include vertCentered(29em, 100%, center);
		}
	}
}

/*=============================
**	PROJECT PAGES
**===========================*/
.projectSpotlight {
	@include heroImage("../assets/vanguard/mock");
	@extend .boxShadow;
	position: relative;
	z-index: 1;

	.contentContainer {
		@include vertCentered(14em, 100vw, center);
		display: inline-block;
		padding: 0;
		
		@media screen and (min-width: $desktop) {
			@include vertCentered(33em, 80vw, center);
		}
	}
}

#projectContent {
	width: 100vw;
	margin: 0 auto;
	padding: 0.1em 1em;
	background: white;
	z-index: 5;
	text-align: center;
	h1,
	h2,
	h3,
	p {
		margin: 1em auto;
		text-align: left;
	}

	h2 {
		margin: 2em auto 1em auto;
		&:first-of-type {
			margin: 1em auto;
		}
	}

	@media screen and (min-width: $desktop) {
		max-width: $contWidth;
	}
}

#projectDetails {
	text-align: left;
	
	span {
		font-weight: 700;
		color: $c2d
	}
	
	@media screen and (min-width: $desktop) {
		float: right;
		margin: 1em 0em 0 1em;
		padding: 0.5em 1.5em 0.5em 1em;
		
		h3 {
			margin: 0.5em 0;
		}
		
		ul {
			margin: 0.25em 0;
		}
	}
}

#footer {
	@extend .boxShadow;
	position: relative;
	padding: 1em;
	background: $c2d;
	text-align: center;
	color: white;
	overflow: hidden;
	
	*, *:after, *:before {
		position: relative;
		z-index: 5;
	}
	
	/*h2 {
		color: $c1;
//		font-size: 2.5em;
		margin: 0.5em 0;
		line-height: 1.5em;
	}*/
	
	#background {
		@include heroImage("../assets/ptsd-assist/poster");
		height: 100%;
		width: 100%;
		z-index: 1;
	}
}
