/*=============================
**	GENERAL STYLES
**===========================*/

.section {
	position: relative;
	width: 100vw;
	min-height: 100vh;
	overflow: hidden;
	background: $c3;
}

.contentContainer {
	position: relative;
	margin: 0 auto;
	padding: 1em;
	width: 80vw;
	z-index: 10;
	text-align: center;

	p {
		color: white;
		font-size: 2em;
	}
}


/*=============================
**	HOMEPAGE
**===========================*/

@mixin heroImage($imgURL) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	z-index: 1;
	background: url($imgURL);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	&::after {
		position: absolute;
		content: ' ';
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: $shadow-cover;
		z-index: 5;
	}
}

#page1 .pageBackground {
	@include heroImage("../assets/placeholder-images/Tessellation-R_Desktop.jpg")
}

.moreArrow {
	display: block;
	position: absolute;
	bottom: 0.5em;
	left: 0;
	right: 0;
	text-align: center;
	color: white;
	z-index: 20;
	font-family: $header-font;
	font-size: 1.25em;
	transition: all 1s ease-in-out;
	svg {
		display: block;
		width: 2em;
		height: 1.5em;
		margin: 0.5em auto;
	}
}

//Project Slides
.projectImgs {
	position: relative;
	padding: 0;
	@extend .boxShadow;
	z-index: 1;
	&:after {
		position: absolute;
		content: ' ';
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: $shadow-cover;
	}
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center center;
	}
}

.projectDesc {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	background: $transparent;
	padding: 0;
	.descContainer {
		@include vertCentered(29em, 100%, center);
		padding: 0;
	}
}

/*=============================
**	PROJECT PAGES
**===========================*/
.projectSpotlight {
	@include heroImage("../assets/vanguard/mock2.jpg");
	@extend .boxShadow;
	position: relative;
	z-index: 1;

	.contentContainer {
		@include vertCentered(23em, 60vw, center);
		display: inline-block;
		padding: 0;
	}

	.title {
		font-size: 10em;
	}
}

#projectContent {
	width: $contWidth;
	margin: 0 auto;
	padding: 0.1em 1em;
//	background: $c3;
	background: white;
	z-index: 5;
	text-align: center;
//	@extend .boxShadow;
	h1,
	h2,
	h3,
	p {
		margin: 1em auto;
		text-align: left;
	}

	h2 {
		margin: 2em auto 1em auto;
		&:first-of-type {
			margin: 1em auto;
		}
	}
}
