//Mixins
@mixin mediaWidth($width) {
	position: relative;
	width: $width * 1vw;
//	min-width: $contWidth;
	left: 50%;
	$leftMargin: $width / 2 * -1vw;
	margin-left: $leftMargin;
}

//Videos
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	width: 100%;
	
	@media screen and (min-width: $desktop) {
		margin-bottom: 1em;
	}

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

a.media {
	position: relative;
	display: block;
	margin: 0.25em 0;

	img {
		width: 100%;
		height: auto;
		@extend .boxShadow
	}
}

//FUTURE: Should this be the mixin as opposed to the media width???
.media--ContainerWidth {
	@extend a.media;
	overflow: visible;
}

.media--FullWidth {
	@extend a.media;
	@media screen and (min-width: $desktop) {
		@include mediaWidth(100);
		height: 50vh;
		overflow: hidden;

		div {
			@include heroImage("../assets/vanguard/home");
			height: 50vh;
			&::after {
				background: none;
			}
		}
	}
}

.gallery {
	@include mediaWidth(100);
	
	@media screen and (min-width: $desktop) {
		@include mediaWidth(80);
	}
}

figure {
	margin: 1em 0;
	
	@media screen and (min-width: $desktop) {
		margin: 0.5em 0;
	}
}

figcaption {
	font-family: $quote-font;
	font-style: italic;
	padding: 0 0.25em;
	margin-top: 0.25em;
}


