//Mixins
@mixin mediaWidth($width) {
	position: relative;
	width: $width * 1vw;
	left: 50%;
	$leftMargin: $width / 2 * -1vw;
	margin-left: $leftMargin;
}

//Videos
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	width: 100%;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

a.media {
	position: relative;
	display: block;
	margin: 0.25em 0;

	img {
		width: 100%;
		height: auto;
		@extend .boxShadow
	}
}

//TODO: Should this be the mixin as opposed to the media width???
.media--ContainerWidth {
	@extend a.media;
	overflow: visible;
}

.media--FullWidth {
	@extend a.media;
	@include mediaWidth(100);
	height: 50vh;

	img {
		width: 100vw;
		height: 50vh;
		@extend .boxShadow;
		//TODO: Need to get rid of the cover stuff... Not backwards compatible.
		object-fit: cover;
		object-position: center center;
	}
}

.gallery {
	@include mediaWidth(80);
}

figure {
	margin: 2em 0;
}

figcaption {
	font-family: $quote-font;
	font-style: italic;
}


