.title {
	font-family: $title-font;
	font-size: 3em;
	font-variant: normal;
	//	text-transform: uppercase;
	letter-spacing: 0.05em;
	line-height: 1em;
	font-weight: 700;
	color: white;
	margin: 0.3em 0;

	@media screen and (min-width: $phone) {
		font-size: 7em;
	}
}

.projectSpotlight .title {
	font-size: 3em;

	@media screen and (min-width: $phone) and (max-width: $desktop - 1) {
		font-size: 7em;
	}
	
	@media screen and (min-width: $desktop) {
		font-size: 10em;
	}
}

.subtitle {
	font-size: 1.4em;
	color: $c1;

	@media screen and (min-width: $desktop) {
		font-size: 2em;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $header-font;
	font-variant: small-caps;
	font-weight: 400;
	letter-spacing: 0.1em;
}

h1 {
	color: $c1;
	font-size: 4em;
}

h2 {
	font-size: 1.5em;
	color: $c1d;
}

h3 {
	font-variant: normal;
	font-size: 1.25em;
}

ul {
	list-style-type: square;
	padding-left: 1em;
}

ol {
	counter-reset: item;
	margin-left: 0;
}

ol > li {
	margin: 0 0 0.2em 0;
	text-indent: -1em;
	list-style-type: none;
	counter-increment: item;
}

ol li:before {
	content: counter(item, upper-alpha) ")";
	margin-right: 5px;
	font-weight: bold;
}

p {
	line-height: 1.5em;
	letter-spacing: 0.05em;
}
