/*=============================
**	MAIN TODO
**===========================*/

//TODO: Finish modularizing scss structure
//TODO: Get rid of object-fit, sill ie, tricks are for kids.

/*=============================
**	SASS VARIABLES
**===========================*/


/*	COLORS 	*/

$c1: rgb(244, 116, 33); //Highest Hierarchy
$c1d: rgb(161, 64, 20);
$c2: rgb(41, 189, 185); //For Contrast
$c2d: rgb(29, 111, 125);
$c2dt: rgba($c2d, 0.25);
$c2dt-hover: rgba($c2d, 0.5);
$c3: rgb(255, 254, 225); //Background-ish
$shadow: rgba(0, 0, 0, 0.125);
$shadow: rgba(0, 0, 0, 0.25);
$shadow-cover: rgba(0, 0, 0, 0.75);
$transparent: rgba(0, 0, 0, 0);

/*	TYPE 	*/

//$title-font:	"Lato", sans-serif;
$title-font: "Merriweather",
serif;
$body-font: "Quattrocento Sans",
sans-serif;
$quote-font: "Vollkhorn",
serif;
$header-font: "Montserrat",
sans-serif;
*,
*::after,
*::before {
	box-sizing: border-box;
}

//Sizes
$contWidth: 50em;

//Breakpoints
$desktop: 64em;
$phone: 47em;

/*=============================
**	BASE STYLES / MIXIN
**===========================*/

.boxShadow {
	box-shadow: 0 0 0.5em 0.1em $c2dt;
	transition: all 0.2s ease-in-out;
	&:hover, &:active, &:focus {
		box-shadow: 0 0em 0.5em 0.1em $c2dt-hover;
	}
}

@mixin vertCentered($height, $width, $aligned) {
	width: $width;
	height: $height;
	//overflow: auto;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 2em;
	text-align: $aligned;
}

/*=============================
**	IMPORTS
**===========================*/

@import 'grid';
@import 'elements';
@import 'media';
@import 'layout';
@import 'jquery.lightbox';
@import 'typography';

/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/

body,
html {
	font-family: $body-font;
	line-height: 1.2em;
	padding: 0em;
//	background: $c3;
	background: white;
	overflow-x: hidden;
}
